@font-face {
  font-family: gothic;
  src: url('/fonts/gothic/webfonts/leaguegothic-regular-webfont.woff')
}

@font-face {
  font-family: josipinSlap;
  src: url('/fonts/josepinSlab/JosefinSlab-Slab-Light.ttf')
}

#fullpage {
  #first {
    background-image:url('/images/city.jpg');
    background-size: cover;
    a {
      position:relative;
      left: 50%;
      top: 50%;
      color: #fff;
    }
  }
  #second {
    .secondPage {
      position: relative;
      top:-40%;
    }
    a {
      position:absolute;
      left: 10%;
      top: 90%;
      z-index: 1;
      color: #000;
    }
    .container-fluid {
      position: absolute;
      h1 {
        font-family: gothic;
        font-size: 5em;
      }
      .tagline {
        font-family: gothic;
        font-size: 2em;
        font-weight: bolder;
        ul {
          letter-spacing: 2px;
          list-style-type: none;
          li {
            line-height: 27px;
          }
        }
      }
      .content {
        font-family: josipinSlap;
        font-size: 2em;
        button {
          font-family: gothic;
          font-size: 1em;
          border: 2px solid #000;
        }
      }
    }
  }
}

@media (min-width : 320px) and (max-width : 479px) {
  #fullpage {
    #second {
      .container-fluid {
        h1 {
          font-size: 2em;
        }
        .tagline {
          font-size: 22px;
        }
        .content {
          font-size: 20px;
        }
      }
    }
  }
}

@media (min-width : 480px) and (max-width : 767px) {
  #fullpage {
    #second {
      .container-fluid {
        h1 {
          font-size: 2em;
        }
        .tagline {
          font-size: 22px;
        }
        .content {
          font-size: 18px;
        }
      }
    }
  }
}
