@font-face {
  font-family: gothic;
  src: url('/fonts/gothic/webfonts/leaguegothic-regular-webfont.woff')
}

@font-face {
  font-family: josipinSlap;
  src: url('/fonts/josepinSlab/JosefinSlab-Slab-Light.ttf')
}

#fullpage {
  #first {
    background-image:url('/images/city.jpg');
    background-size: cover;
    a {
      position:relative;
      left: 50%;
      top: 50%;
      color: #fff;
    }
  }
  #second {
    .secondPage {
      position: relative;
      top:-40%;
      h1 {
        font-family: gothic;
        font-size: 5em;
      }
      .tagline {
        font-family: gothic;
        font-size: 2em;
        font-weight: bolder;
        ul {
          letter-spacing: 2px;
          list-style-type: none;
          li {
            line-height: 27px;
          }
        }
      }
      .content {
        font-family: josipinSlap;
        font-size: 2em;
      }
    }
  }
}
