root = true

[*]
indent_style = tabs
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

#personal preferences
quote_type = double
curly_bracket_next+line = false

[.html]
indent_style = tabs

[.js]
indent_style = tabs
