
<div class='paragala'>
  <div class="container-fluid">
    <div class='col-sm-8 hidden-xs'>
      <div id="carousel-bis-generic" class="carousel slide">
        <!-- <img ng-click='vm.paragalaLogin()' src="/images/paragala/paragala-logo.png" alt="Paragala Logo" class="logo img-responsive" /> -->
        <div class="carousel-inner img-rounded">
          <div class="item active"><img src="/images/paragala/01.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/02.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/03.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/04.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/05.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/06.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/07.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/08.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/09.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/10.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/11.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/12.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/13.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/14.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/15.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
          <div class="item"><img src="/images/paragala/16.jpg" alt="..." class="img-responsive img-thumbnail"/></div>
        </div>
      </div>
    </div>
    <div class='col-sm-4 loginForm'>
      <div class="account-wall">
        <img src="/images/paragala/paragala-logo.png" alt="">
        <form ng-submit='vm.paragalaSignIn()' class="form-signin" name='paragalaSignIn' novalidate='novalidate'>
          <div class='form-group'>
            <input type="text" placeholder="Student/Employee No." name='studentNumber' class="form-control"  required autofocus>
          </div>
          <button class="btn btn-lg btn-default btn-block" type="submit">
              Sign-in
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
