{% include 'commons/header.html' %}

<div class='rave'>
  <tabset justified="true">

    <tab heading="Male Contestants">
      <tab-heading>
        <i class="fa fa-male"></i> Male Contestants
      </tab-heading>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.francoEvent("FRANCO")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/1b.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.carlxEvent("CARLX")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/2b.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.charlieEvent("CHARLIE")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/3b.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.lawrenzEvent("LAWRENZ")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/4b.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.chrisEvent("CHRIS")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/5b.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.nielEvent("NIEL")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/6b.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.carlosEvent("CARLOS")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/7b.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.bartsEvent("BARTS")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/8b.png" class="img-responsive img-circle">
        </a>
      </div>
    </tab>

    <tab heading="Female Candidates">
      <tab-heading>
        <i class="fa fa-female"></i> Female Contestants
      </tab-heading>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.jenicaEvent("JENICA")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/1.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.maeCeeEvent("MAE CEE")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/2.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.annaEvent("ANNA")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/3.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.lenEvent("LEN")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/4.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.shanEvent("SHAN")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/5.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.belleEvent("BELLE")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/6.png" class="img-responsive img-circle">
        </a>
      </div>
      <div class='col-xs-3'>
        <a href="" ng-click='vm.geleneEvent("GELENE")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/7.png" class="img-responsive img-circle">
        </a>
      </div>


    </tab>

    <tab heading="Long Justified">
      <tab-heading>
        <i class="fa fa-university"></i> Results
      </tab-heading>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.jenicaEventResult("JENICA")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/1.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.maeCeeEventResult("MAE CEE")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/2.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.annaEventResult("ANNA")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/3.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.lenEventResult("LEN")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/4.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-2'>
        <a href="" ng-click='vm.shanEventResult("SHAN")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/5.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.belleEventResult("BELLE")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/6.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.geleneEventResult("GELENE")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/7.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.francoEventResult("FRANCO")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/1b.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.carlxEventResult("CARLX")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/2b.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.charlieEventResult("CHARLIE")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/3b.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.lawrenzEventResult("LAWRENZ")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/4b.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.chrisEventResult("CHRIS")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/5b.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.nielEventResult("NIEL")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/6b.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.carlosEventResult("CARLOS")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/7b.png" class="img-responsive img-thumbnail">
        </a>
      </div>
      <div class='col-xs-2 col-xs-offset-1'>
        <a href="" ng-click='vm.bartsEventResult("BARTS")' data-toggle="modal" data-target="#candidates">
          <img src="/img/rave/8b.png" class="img-responsive img-thumbnail">
        </a>
      </div>
    </tab>

    <tab heading="Winner" ng-click='vm.raveWinner()'>
      <tab-heading>
        <i class="fa fa-trophy"></i> Winner
      </tab-heading>
      <div class='container-fluid'>
        {{vm.winnerFemale}}
        {{vm.winnerFemaleTie}}
        {{vm.winnerMale}}
        {{vm.winnerMaleTie}}
      </div>
      
    </tab>

  </tabset>
</div>

<div class='modal fade'  id="candidates">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">{{vm.name}}</h3>
        <h5 ng-show='vm.successShow' class='alert alert-success'>
          <span>Success</span>
        </h5
      </div>
      <div class="modal-body">
        <form role="form" name='voteCandidates' novalidate="novalidate">
          <div class="form-group">
            <label for="themeWear">Theme Wear</label>
            <input ng-model='vm.themeWear' name='themeWear' class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="casualWear">Casual Wear</label>
            <input ng-model='vm.casualWear' name='casualWear' class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="longGown">Formal/Long Gown</label>
            <input ng-model='vm.longGown' name='longGown' class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="beautyPoise">Beauty Poise</label>
            <input ng-model='vm.beautyPoise' name='beautyPoise' class="form-control" readonly>
          </div>
          <div class="form-group">
            <label for="closeDoorInterview">Close Door Interview </label>
            <input ng-model='vm.closeDoorInterview' ng-readonly='!vm.footer' name='closeDoorInterview' min='0' max='15' type="number" required class="form-control" id="closeDoorInterview" placeholder="Close Door Interview">
            <span class='label label-danger' ng-show='voteCandidates.closeDoorInterview.$error.max || voteCandidates.closeDoorInterview.$error.min'>Voting range must be 0 to 15</span>
          </div>
          <div class="form-group">
            <label for="texterVotes"> Texter Votes </label>
            <input ng-model='vm.texterVotes' ng-readonly='!vm.footer' name='texterVotes' min='0' max='10' type="number" required class="form-control" id="texterVotes" placeholder="Texter Votes">
            <span class='label label-danger' ng-show='voteCandidates.texterVotes.$error.max || voteCandidates.texterVotes.$error.min'>Voting range must be 0 to 10</span>
          </div>
        </form>
      </div>
      <div class="modal-footer" ng-show='vm.footer'>
        <button type="button" class="btn btn-primary" ng-click='vm.voteJudges( voteCandidates.$valid, vm.name, vm.themeWear, vm.casualWear,
        vm.longGown, vm.beautyPoise, vm.closeDoorInterview, vm.texterVotes )'>Save</button>
      </div>
    </div>
  </div>
</div>
