.paragala {
  height: 100vh;
  overflow: auto;
  padding-top: 10%;
  background-color: #7cbc33;
  .carousel-inner {
    img {
      width: 100%;
      height: 500px;
    }
  }
  .loginForm {
    .account-wall {
      padding: 20px;
      background-color: #ccc;
      border-radius: 10px;
      -moz-box-shadow:    inset 0 0 10px #000000;
      -webkit-box-shadow: inset 0 0 10px #000000;
      box-shadow:         inset 0 0 10px #000000;
      input {
        border: 1px solid #7cbc33;
      }
      button {
        color: #7cbc33;
        border: 1px solid #7cbc33;
      }
    }
    img {
      width: 100%;
      height: 200px;
    }
  }
}
