
  <div class='questions'>
    <div class='container-fluid'>
      <i class="fa fa-caret-square-o-left pull-left" style='margin-left: -10px;margin-top: 10px'></i>
      <div ng-repeat='item in vm.sliceObject' class='category' ng-class="vm.sliceObject[0].items.length > 1?
        'col-sm-12':'col-sm-6 col-sm-offset-3'">
        <div class='col-sm-12 text-center'>
          {{item.title}}
        </div>
        <div ng-repeat='subItem in item.items' class='subItem' ng-class="vm.sliceObject[0].items.length > 1?
          'col-sm-6':'col-sm-12'">
          <div class = 'server-action-menu'>
            <div class='panel-heading row' ng-bind='subItem.title'>
            </div>
            <div ng-repeat='secondSubItem in subItem.items' class='secondSubItem'>
                <div class='panel-body'>
                  <ul class='list-group'>
                    <li class='list-group-item'>
                      <div class='radio'>
                        <label>
                          <input type='radio' ng-checked='vm.dataQuestionSelected(item.title, subItem.title, secondSubItem.title )' name={{subItem.title}} ng-click='vm.selectedQuestion(item.title, subItem.title, secondSubItem.title)'>
                            <span ng-bind='secondSubItem.title'></span>
                          </input>
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class='container-fluid '>
        <nav ng-class="vm.sliceObject[0].items.length > 1?
          'col-sm-8 col-sm-offset-2':'col-sm-4 col-sm-offset-4'">
          <ul class="pager">
            <li class="previous">
              <button class='btn btn-default pull-left'>
                <a href={{vm.previousUrl}} target='_self'>Previous
                </a>
              </button>
            </li>
            <li class="next">
              <button class='btn btn-default pull-right' ng-disabled="vm.counterSelected">
                <a href='{{vm.nextUrl}}' target='_self'>Next {{vm.counterSelected}}
                </a>
              </button>
            </li>
          </ul>
        </nav>
      </div>
      <button class='btn btn-success' ng-click='vm.studentLogout()'>logout</button>
    </div>
  </div>
