#wrapper.sidebarOn {
  width: 100%;
  padding-left: 150px;
  padding-top: 50px;
  margin: 0px;
  transition: padding-left 0.5s ease-in-out;
}
#wrapper.sidebarOn #sidebar-wrapper {
  position: fixed;
  left: 0;
  width: 150px;
  height: 100%;
  background: #2a3542;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
#wrapper.sidebarOn #sidebar-wrapper #sidebarOnandOff {
  position: relative;
  top: -5px;
  float: right;
  font-size: 30px;
  padding-top: 10px;
  padding-right: 10px;
}
#wrapper.sidebarOn #sidebar-wrapper #sidebarOnandOff a {
  color: #fff;
}
#wrapper.sidebarOn #sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 50px;
  width: 150px;
  padding: 0px;
  list-style: none;
  transition: all 0.5s ease-in-out;
}
#wrapper.sidebarOn #sidebar-wrapper .sidebar-nav li {
  font-size: 12px;
  padding: 10px;
  border-top-left-radius: 10px;
  box-shadow: 10px 0 5px #111;
  transition: all 0.5s ease-in-out;
}
#wrapper.sidebarOn #sidebar-wrapper .sidebar-nav li a {
  display: flex;
  color: #aeb2b7;
  text-decoration: none;
}
#wrapper.sidebarOn #sidebar-wrapper .sidebar-nav li a .icon-hide {
  padding-left: 10px;
}
#wrapper.sidebarOn #sidebar-wrapper .sidebar-nav li:hover {
  background: #31708f;
  cursor: pointer;
}
#wrapper.sidebarOn #sidebar-wrapper .sidebar-nav li:hover a {
  color: #fff;
}
#wrapper.sidebarOff {
  width: 100%;
  padding-left: 40px;
  padding-top: 50px;
  padding-right: 400px;
  margin: 0px;
  transition: padding-left 0.5s ease-in-out;
}
#wrapper.sidebarOff #sidebar-wrapper {
  position: fixed;
  left: 0;
  width: 40px;
  height: 100%;
  background: #2a3542;
  transition: all 0.5s ease-in-out;
}
#wrapper.sidebarOff #sidebar-wrapper #sidebarOnandOff {
  position: relative;
  top: -5px;
  float: right;
  font-size: 30px;
  padding-top: 10px;
  padding-right: 10px;
}
#wrapper.sidebarOff #sidebar-wrapper #sidebarOnandOff a {
  color: #fff;
}
#wrapper.sidebarOff #sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 40px;
  width: 40px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
#wrapper.sidebarOff #sidebar-wrapper .sidebar-nav li {
  font-size: 15px;
  padding: 10px;
}
#wrapper.sidebarOff #sidebar-wrapper .sidebar-nav li a {
  color: #aeb2b7;
  text-decoration: none;
  text-transform: uppercase;
}
#wrapper.sidebarOff #sidebar-wrapper .sidebar-nav li a i {
  font-size: 12px;
  font-weight: bolder;
  font-smooth: antialiased;
}
#wrapper.sidebarOff #sidebar-wrapper .sidebar-nav li a .icon-hide {
  display: none;
  word-wrap: no-wrap;
  transition: all 0.5s ease-in-out;
}
#wrapper.sidebarOff #sidebar-wrapper .sidebar-nav li:hover {
  background: #31708f;
  cursor: pointer;
}
#wrapper.sidebarOff #sidebar-wrapper .sidebar-nav li:hover a {
  color: #fff;
}
.mainContent .container-fluid .row h4 i {
  font-weight: 700;
  padding-left: 10px;
  text-decoration: underline;
}
.mainContent .container-fluid .row .jumbotron ul,
.mainContent .container-fluid .row .jumbotron li {
  list-style-type: none;
}
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: relative;
}
.shuffle-animation.ng-enter {
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  left: 2em;
  opacity: 0;
}
.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave {
  -moz-transition: 0.3s ease-out all;
  -o-transition: 0.3s ease-out all;
  -webkit-transition: 0.3s ease-out all;
  transition: 0.3s ease-out all;
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}
.ngplus-overlay-background {
/*background-color: #000;*/
  top: 0px;
  left: 0px;
  padding-left: 100px;
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: #808080;
  opacity: 0.5;
}
.ngplus-overlay-content {
  position: absolute;
/*border: 1px solid #000;*/
/*background-color: #fff;*/
  font-weight: bold;
  height: 100px;
  width: 300px;
  height: 15em;
  width: 20em;
  z-index: 10000;
  text-align: center;
}
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
  display: inline !important;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
  opacity: 1;
}
.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
  opacity: 0;
}
body {
  overflow: auto;
}
.paragala {
  height: 100vh;
  overflow: auto;
  padding-top: 10%;
  background-color: #7cbc33;
}
.paragala .carousel-inner img {
  width: 100%;
  height: 500px;
}
.paragala .loginForm .account-wall {
  padding: 20px;
  background-color: #ccc;
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
}
.paragala .loginForm .account-wall input {
  border: 1px solid #7cbc33;
}
.paragala .loginForm .account-wall button {
  color: #7cbc33;
  border: 1px solid #7cbc33;
}
.paragala .loginForm img {
  width: 100%;
  height: 200px;
}
@font-face {
  font-family: gothic;
  src: url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.woff");
}
@font-face {
  font-family: josipinSlap;
  src: url("/fonts/josepinSlab/JosefinSlab-Slab-Light.ttf");
}
.footer {
  -moz-box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
}
.paragalaStudentAccount {
  height: 100vh;
  overflow: auto;
  background-color: #7cbc33;
}
.paragalaStudentAccount .addStudent {
  padding-top: 8%;
}
.paragalaStudentAccount .addStudent .panel {
  box-shadow: 10px 10px 0px;
}
.paragalaStudentAccount .addStudent .panel .panel-heading {
  font-family: gothic;
  background-color: #ccc;
}
.paragalaStudentAccount .addStudent .panel .panel-body {
  font-family: josipinSlap;
  background-color: #ccc;
}
.paragalaStudentAccount .addStudent .panel .panel-body label {
  font-size: 16px;
}
.paragalaStudentAccount .addStudent .panel .panel-body button {
  font-family: gothic;
  font-size: 16px;
}
.paragalaStudentAccount .footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #ccc;
}
.paragalaStudentAccount .footer .poweredBy span {
  font-family: gothic;
  font-size: 25px;
}
.paragalaStudentAccount .footer .poweredBy ul {
  list-style-type: none;
  display: inline-flex;
}
.paragalaStudentAccount .footer .poweredBy ul img {
  width: 100px;
  height: 100px;
}
.paragalaStudentAccount .footer .main-org ul {
  list-style-type: none;
  display: inline-flex;
}
.paragalaStudentAccount .footer .main-org ul img {
  width: 170px;
  height: 170px;
}
.paragalaStudentAccount .footer .developers span {
  font-family: gothic;
  font-size: 25px;
}
.paragalaStudentAccount .footer .developers ul {
  list-style-type: none;
}
.paragalaStudentAccount .footer .developers ul li {
  font-family: josipinSlap;
  font-size: 18px;
  font-weight: 900;
}
.paragalaStudentAccount .footer .developers ul li a {
  color: #333;
}
.paragalaStudentAccount .footer .developers ul li a:hover {
  text-decoration: none;
}
.paragalaStudentAccount .sub-footer {
  font-family: gothic;
  font-size: 18px;
  color: #7cbc33;
}
@font-face {
  font-family: gothic;
  src: url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.woff");
}
@font-face {
  font-family: josipinSlap;
  src: url("/fonts/josepinSlab/JosefinSlab-Slab-Light.ttf");
}
#fullpage #first {
  background-image: url("/images/city.jpg");
  background-size: cover;
}
#fullpage #first a {
  position: absolute;
  left: 50%;
  top: 90%;
  color: #fff;
}
#fullpage #second .secondPage {
  position: absolute;
  top: 80px;
}
#fullpage #second a {
  position: absolute;
  left: 10%;
  top: 90%;
  z-index: 1;
  color: #000;
}
#fullpage #second .container-fluid h1 {
  font-family: gothic;
  font-size: 5em;
}
#fullpage #second .container-fluid .tagline {
  font-family: gothic;
  font-size: 2em;
  font-weight: bolder;
}
#fullpage #second .container-fluid .tagline ul {
  letter-spacing: 2px;
  list-style-type: none;
}
#fullpage #second .container-fluid .tagline ul li {
  line-height: 27px;
}
#fullpage #second .container-fluid .content {
  font-family: josipinSlap;
  font-size: 2em;
}
#fullpage #second .container-fluid .content button {
  font-family: gothic;
  font-size: 1em;
  border: 2px solid #000;
}
@media (min-width: 320px) and (max-width: 479px) {
  #fullpage #second .container-fluid h1 {
    font-size: 2em;
  }
  #fullpage #second .container-fluid .tagline {
    font-size: 22px;
  }
  #fullpage #second .container-fluid .content {
    font-size: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #fullpage #second .container-fluid h1 {
    font-size: 2em;
  }
  #fullpage #second .container-fluid .tagline {
    font-size: 22px;
  }
  #fullpage #second .container-fluid .content {
    font-size: 18px;
  }
}
.database {
  padding-top: 80px;
}
