.paragala {
  height: 100vh;
  overflow: auto;
  padding-top: 10%;
  background-color: #7cbc33;
}
.paragala .carousel-inner img {
  width: 100%;
  height: 500px;
}
.paragala .loginForm .account-wall {
  padding: 20px;
  background-color: #ccc;
  border-radius: 10px;
  -moz-box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
}
.paragala .loginForm .account-wall input {
  border: 1px solid #7cbc33;
}
.paragala .loginForm .account-wall button {
  color: #7cbc33;
  border: 1px solid #7cbc33;
}
.paragala .loginForm img {
  width: 100%;
  height: 200px;
}
@font-face {
  font-family: gothic;
  src: url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.woff");
}
@font-face {
  font-family: josipinSlap;
  src: url("/fonts/josepinSlab/JosefinSlab-Slab-Light.ttf");
}
.footer {
  -moz-box-shadow: inset 0 0 10px #000;
  -webkit-box-shadow: inset 0 0 10px #000;
  box-shadow: inset 0 0 10px #000;
}
.paragalaStudentAccount {
  height: 100vh;
  overflow: auto;
  background-color: #7cbc33;
}
.paragalaStudentAccount .addStudent {
  padding-top: 8%;
}
.paragalaStudentAccount .addStudent .panel {
  box-shadow: 10px 10px 0px;
}
.paragalaStudentAccount .addStudent .panel .panel-heading {
  font-family: gothic;
  background-color: #ccc;
}
.paragalaStudentAccount .addStudent .panel .panel-body {
  font-family: josipinSlap;
  background-color: #ccc;
}
.paragalaStudentAccount .addStudent .panel .panel-body label {
  font-size: 16px;
}
.paragalaStudentAccount .addStudent .panel .panel-body button {
  font-family: gothic;
  font-size: 16px;
}
.paragalaStudentAccount .footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #ccc;
}
.paragalaStudentAccount .footer .poweredBy span {
  font-family: gothic;
  font-size: 25px;
}
.paragalaStudentAccount .footer .poweredBy ul {
  list-style-type: none;
  display: inline-flex;
}
.paragalaStudentAccount .footer .poweredBy ul img {
  width: 100px;
  height: 100px;
}
.paragalaStudentAccount .footer .main-org ul {
  list-style-type: none;
  display: inline-flex;
}
.paragalaStudentAccount .footer .main-org ul img {
  width: 170px;
  height: 170px;
}
.paragalaStudentAccount .footer .developers span {
  font-family: gothic;
  font-size: 25px;
}
.paragalaStudentAccount .footer .developers ul {
  list-style-type: none;
}
.paragalaStudentAccount .footer .developers ul li {
  font-family: josipinSlap;
  font-size: 18px;
  font-weight: 900;
}
.paragalaStudentAccount .footer .developers ul li a {
  color: #333;
}
.paragalaStudentAccount .footer .developers ul li a:hover {
  text-decoration: none;
}
.paragalaStudentAccount .sub-footer {
  font-family: gothic;
  font-size: 18px;
  color: #7cbc33;
}
.btn {
  margin-right: 8px;
}
.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}
.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}
.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.group-title {
  background-color: #687074 !important;
  color: #fff !important;
}
.questions .category {
  color: #000;
  background-color: #f64747;
}
.questions .subItem {
  color: #000;
  background-color: #f1a9a0;
}
.questions .secondSubItem {
  color: #000;
  background-color: #ffecdb;
}
@font-face {
  font-family: gothic;
  src: url("/fonts/gothic/webfonts/leaguegothic-regular-webfont.woff");
}
@font-face {
  font-family: josipinSlap;
  src: url("/fonts/josepinSlab/JosefinSlab-Slab-Light.ttf");
}
#fullpage #first {
  background-image: url("/images/city.jpg");
  background-size: cover;
}
#fullpage #first a {
  position: absolute;
  left: 50%;
  top: 90%;
  color: #fff;
}
#fullpage #second .secondPage {
  position: absolute;
  top: 80px;
}
#fullpage #second a {
  position: absolute;
  left: 10%;
  top: 90%;
  z-index: 1;
  color: #000;
}
#fullpage #second .container-fluid h1 {
  font-family: gothic;
  font-size: 5em;
}
#fullpage #second .container-fluid .tagline {
  font-family: gothic;
  font-size: 2em;
  font-weight: bolder;
}
#fullpage #second .container-fluid .tagline ul {
  letter-spacing: 2px;
  list-style-type: none;
}
#fullpage #second .container-fluid .tagline ul li {
  line-height: 27px;
}
#fullpage #second .container-fluid .content {
  font-family: josipinSlap;
  font-size: 2em;
}
#fullpage #second .container-fluid .content button {
  font-family: gothic;
  font-size: 1em;
  border: 2px solid #000;
}
@media (min-width: 320px) and (max-width: 479px) {
  #fullpage #second .container-fluid h1 {
    font-size: 2em;
  }
  #fullpage #second .container-fluid .tagline {
    font-size: 22px;
  }
  #fullpage #second .container-fluid .content {
    font-size: 20px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  #fullpage #second .container-fluid h1 {
    font-size: 2em;
  }
  #fullpage #second .container-fluid .tagline {
    font-size: 22px;
  }
  #fullpage #second .container-fluid .content {
    font-size: 18px;
  }
}
.database {
  padding-top: 80px;
}
