
  {% include 'commons/header.html' %}
  <div id="fullpage">
      <div class="section">
      </div>
      <div class="section">
        <div class="slide">
    			<div class="intro">
    				<h1>Compatible</h1>
    				<p>Working in modern and old browsers too! IE 8 users don't have the fault of using that horrible browser! Lets give them a chance to see your site in a proper way!</p>
    			</div>
    		 </div>
        </div>
        <div class="slide">
          <div class='container-fluid'>
            <div class='col-sm-4 col-offset-sm-4'>
              sfsdff
            </div>
          </div>
        </div>
      </div>
  </div>
