
  {% include 'commons/header.html' %}
  <div id="fullpage">
    <div class="section" id='first'>
      <a href='' class="selectSection">
        <i class="fa fa-chevron-circle-down fa-4x"></i>
      </a>
    </div>
    <div class="section" id='second'>
      <a href='' class="selectSection">
        <i class="fa fa-chevron-circle-down fa-4x"></i>
      </a>
      <div class='secondPage'>
        <div class='container-fluid'>
          <div class='col-xs-12 col-sm-12 col-md-6'>
    				<h1>DATABASE</h1>
            <div class='tagline'>
              <ul>
                <li>Web Development</li>
                <li>MongoDb</li>
                <li>Ace Editor</li>
              </ul>
            </div>
            <div class='content'>
              <span>
                NoSql Database is used in this application. Running through
                NodeJs for it's back-end implementation. Data can be seen through
                the used of ace editor.
                <button type="button" class="btn btn-default btn-lg">View Database</button>
              </span>
            </div>
          </div>
          <div class='col-md-6 hidden-xs hidden-sm'>
            <div class='col-sm-12'>
              <img src="images/database.png" class="img-responsive"/>
            </div>
            <div class='col-sm-12'>
              <img src="images/database_ace.png" class="img-responsive"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='section'>
      <div class='thirdPage'>
        <div class='container-fluid'>
        </div>
      </div>
    </div>
  </div>
