
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Morning Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMorningShow" ng-model="vm.morningShow" value="Umagang Kay Ganda (ABS-CBN)" ng-change='vm.ngWatchMorningShow( vm.morningShow )'/>Umagang Kay Ganda (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMorningShow" ng-model="vm.morningShow" value="Unang Hirit (GMA)" ng-change='vm.ngWatchMorningShow( vm.morningShow )'/>Unang Hirit (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMorningShow" ng-model="vm.morningShow" value="Good Morning Club (TV5)" ng-change='vm.ngWatchMorningShow( vm.morningShow )'/>Good Morning Club (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
