<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Musical Variety Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMusicalVarietyShow" ng-model="vm.musicalVarietyShow" value="A.S.A.P. (ABS-CBN)" ng-change='vm.ngWatchMusicalVarietyShow( vm.musicalVarietyShow )'/>A.S.A.P. (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMusicalVarietyShow" ng-model="vm.musicalVarietyShow" value="Sunday All Stars (GMA)" ng-change='vm.ngWatchMusicalVarietyShow( vm.musicalVarietyShow )'/>Sunday All Stars (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMusicalVarietyShow" ng-model="vm.musicalVarietyShow" value="Walang Tulugan (GMA)" ng-change='vm.ngWatchMusicalVarietyShow( vm.musicalVarietyShow )'/>Walang Tulugan (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
