
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Game Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShow" ng-model="vm.gameShow" value="Bet on your Baby (ABS-CBN)" ng-change='vm.ngWatchGameShow( vm.gameShow )'/>Bet on your Baby (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShow" ng-model="vm.gameShow" value="Singing Bee (ABS-CBN)" ng-change='vm.ngWatchGameShow( vm.gameShow )'/>Singing Bee (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShow" ng-model="vm.gameShow" value="Picture, Picture (GMA)" ng-change='vm.ngWatchGameShow( vm.gameShow )'/>Picture, Picture (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShow" ng-model="vm.gameShow" value="Celebrity Bluff (GMA)" ng-change='vm.ngWatchGameShow( vm.gameShow )'/>Celebrity Bluff (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShow" ng-model="vm.gameShow" value="Who Wants to be a Millionaire (TV5)" ng-change='vm.ngWatchGameShow( vm.gameShow )'/>Who Wants to be a Millionaire (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShow" ng-model="vm.gameShow" value="Killer Karaoke (TV5)" ng-change='vm.ngWatchGameShow( vm.gameShow )'/>Killer Karaoke (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
