
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Teleserye</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTeleserye" ng-model="vm.teleserye" value="The Legal Wife (ABS-CBN)" ng-change='vm.ngWatchTeleserye( vm.teleserye )'/>The Legal Wife (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTeleserye" ng-model="vm.teleserye" value="Rhodora X (GMA)" ng-change='vm.ngWatchTeleserye( vm.teleserye )'/>Rhodora X (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTeleserye" ng-model="vm.teleserye" value="Carmela (GMA)" ng-change='vm.ngWatchTeleserye( vm.teleserye )'/>Carmela (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTeleserye" ng-model="vm.teleserye" value="Ikaw Lamang (ABS-CBN)" ng-change='vm.ngWatchTeleserye( vm.teleserye )'/>Ikaw Lamang (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTeleserye" ng-model="vm.teleserye" value="Dyesebel (ABS-CBN)" ng-change='vm.ngWatchTeleserye( vm.teleserye )'/>Dyesebel (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTeleserye" ng-model="vm.teleserye" value="Beki Boxer (TV5)" ng-change='vm.ngWatchTeleserye( vm.teleserye )'/>Beki Boxer (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTeleserye" ng-model="vm.teleserye" value="Be Careful with my Heart (ABS-CBN)" ng-change='vm.ngWatchTeleserye( vm.teleserye )'/>Be Careful with my Heart (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTeleserye" ng-model="vm.teleserye" value="Sana Bukas pa ang Kahapon (ABS-CBN)" ng-change='vm.ngWatchTeleserye( vm.teleserye )'/>Sana Bukas pa ang Kahapon (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
