
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Female Child Performer</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestFemaleChildPerformer" ng-model="vm.femaleChildPerformer" value="Ryzza Mae Dizon in My little Bossings" ng-change='vm.ngWatchFemaleChildPerformer( vm.femaleChildPerformer )'/>Ryzza Mae Dizon in My little Bossings
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestFemaleChildPerformer" ng-model="vm.femaleChildPerformer" value="Xyriel Manabat in Wansapanataym (ABS-CBN)" ng-change='vm.ngWatchFemaleChildPerformer( vm.femaleChildPerformer )'/>Xyriel Manabat in Wansapanataym (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestFemaleChildPerformer" ng-model="vm.femaleChildPerformer" value="Jillian Ward in Kambal Sirena (GMA)" ng-change='vm.ngWatchFemaleChildPerformer( vm.femaleChildPerformer )'/>Jillian Ward in Kambal Sirena (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestFemaleChildPerformer" ng-model="vm.femaleChildPerformer" value="Mutya Orquia in Be Careful with my Heart (ABS-CBN)" ng-change='vm.ngWatchFemaleChildPerformer( vm.femaleChildPerformer )'/>Mutya Orquia in Be Careful with my Heart (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestFemaleChildPerformer" ng-model="vm.femaleChildPerformer" value="Rhed Bustamante in The Borrowed Wife (GMA)" ng-change='vm.ngWatchFemaleChildPerformer( vm.femaleChildPerformer )'/>Rhed Bustamante in The Borrowed Wife (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
