
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Variety Show Host</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestVarietyShowHost" ng-model="vm.varietyShowHost" value="Vice Ganda in Showtime (ABS-CBN)" ng-change='vm.ngWatchVarietyShowHost( vm.varietyShowHost )'/>Vice Ganda in Showtime (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestVarietyShowHost" ng-model="vm.varietyShowHost" value="Anne Curtis in Showtime (ABS-CBN)" ng-change='vm.ngWatchVarietyShowHost( vm.varietyShowHost )'/>Anne Curtis in Showtime (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestVarietyShowHost" ng-model="vm.varietyShowHost" value="Vic Sotto in Eat Bulaga (GMA)" ng-change='vm.ngWatchVarietyShowHost( vm.varietyShowHost )'/>Vic Sotto in Eat Bulaga (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestVarietyShowHost" ng-model="vm.varietyShowHost" value="Joey De Leon in Eat Bulaga (GMA)" ng-change='vm.ngWatchVarietyShowHost( vm.varietyShowHost )'/>Joey De Leon in Eat Bulaga (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
