
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Talk Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShow" ng-model="vm.talkShow" value="KrisTV (ABS-CBN)" ng-change='vm.ngWatchTalkShow( vm.talkShow )'/>KrisTV (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShow" ng-model="vm.talkShow" value="Gandang Gabi Vice (ABS-CBN)" ng-change='vm.ngWatchTalkShow( vm.talkShow )'/>Gandang Gabi Vice (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShow" ng-model="vm.talkShow" value="Mars (GMA)" ng-change='vm.ngWatchTalkShow( vm.talkShow )'/>Mars (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShow" ng-model="vm.talkShow" value="The Ryzza Mae Show (GMA)" ng-change='vm.ngWatchTalkShow( vm.talkShow )'/>The Ryzza Mae Show (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShow" ng-model="vm.talkShow" value="Face The People (TV5)" ng-change='vm.ngWatchTalkShow( vm.talkShow )'/>Face The People (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
