
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Morning Show Host</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMorningShowHost" ng-model="vm.morningShowHost" value="Anthony Taberna in Umagang Kay Ganda (ABS-CBN)" ng-change='vm.ngWatchMorningShowHost( vm.morningShowHost )'/>Anthony Taberna in Umagang Kay Ganda (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMorningShowHost" ng-model="vm.morningShowHost" value="Bernadette Sembrano in Umagang Kay Ganda (ABS-CBN)" ng-change='vm.ngWatchMorningShowHost( vm.morningShowHost )'/>Bernadette Sembrano in Umagang Kay Ganda (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMorningShowHost" ng-model="vm.morningShowHost" value="Arnold Clavio in Unang Hirit (GMA)" ng-change='vm.ngWatchMorningShowHost( vm.morningShowHost )'/>Arnold Clavio in Unang Hirit (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMorningShowHost" ng-model="vm.morningShowHost" value="Rhea Santos in Unang Hirit (GMA)" ng-change='vm.ngWatchMorningShowHost( vm.morningShowHost )'/>Rhea Santos in Unang Hirit (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMorningShowHost" ng-model="vm.morningShowHost" value="Cheryl Cosim in Good Morning Club (TV5)" ng-change='vm.ngWatchMorningShowHost( vm.morningShowHost )'/>Cheryl Cosim in Good Morning Club (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
