
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Television Actor</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActor" ng-model="vm.actor" value="Jericho Rosales in The Legal Wife (ABS-CBN)" ng-change='vm.ngWatchActor(vm.actor)'/>Jericho Rosales in The Legal Wife (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActor" ng-model="vm.actor" value="Alden Richard in Carmela (GMA)" ng-change='vm.ngWatchActor(vm.actor)'/>Alden Richard in Carmela (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActor" ng-model="vm.actor" value="Coco Martin in Ikaw Lamang (ABS-CBN)" ng-change='vm.ngWatchActor(vm.actor)'/>Coco Martin in Ikaw Lamang (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActor" ng-model="vm.actor" value="Aljur Abrenica in Kambal Sirena (GMA)" ng-change='vm.ngWatchActor(vm.actor)'/>Aljur Abrenica in Kambal Sirena (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActor" ng-model="vm.actor" value="Enrique Gil in Mirabella (ABS-CBN)" ng-change='vm.ngWatchActor(vm.actor)'/>Enrique Gil in Mirabella (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActor" ng-model="vm.actor" value="Paulo Avelino in Sana Bukas pa ang Kahapon (ABS-CBN)" ng-change='vm.ngWatchActor(vm.actor)'/>Paulo Avelino in Sana Bukas pa ang Kahapon (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActor" ng-model="vm.actor" value="Richard Yap in Be Carefull with my Heart (ABS-CBN)" ng-change='vm.ngWatchActor(vm.actor)'/>Richard Yap in Be Carefull with my Heart (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActor" ng-model="vm.actor" value="Alwyn Uytingco in Beki Boxer (TV5)" ng-change='vm.ngWatchActor(vm.actor)'/>Alwyn Uytingco in Beki Boxer (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
