
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Drama Anthology</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestDramaAnthology" ng-model="vm.dramaAnthology" value="Maalaala Mo Kaya (ABS-CBN)" ng-change='vm.ngWatchDramaAnthology( vm.dramaAnthology )'/>Maalaala Mo Kaya (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestDramaAnthology" ng-model="vm.dramaAnthology" value="Magpakailanman (GMA)" ng-change='vm.ngWatchDramaAnthology( vm.dramaAnthology )'/>Magpakailanman (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestDramaAnthology" ng-model="vm.dramaAnthology" value="Minamahal (TV5)" ng-change='vm.ngWatchDramaAnthology( vm.dramaAnthology )'/>Minamahal (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
