
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Gag Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGagShow" ng-model="vm.gagShow" value="Bubble Gang (GMA)" ng-change='vm.ngWatchGagShow( vm.gagShow )'/>Bubble Gang (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGagShow" ng-model="vm.gagShow" value="Banana Split (ABS-CBN)" ng-change='vm.ngWatchGagShow( vm.gagShow )'/>Banana Split (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGagShow" ng-model="vm.gagShow" value="Goin' Bulilit (ABS-CBN)" ng-change='vm.ngWatchGagShow( vm.gagShow )'/>Goin' Bulilit (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGagShow" ng-model="vm.gagShow" value="Wow Mali Pa Rin! (TV5)" ng-change='vm.ngWatchGagShow( vm.gagShow )'/>Wow Mali Pa Rin! (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
