
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Sitcom</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestSitcom" ng-model="vm.sitcom" value="Home Sweetie Home (ABS-CBN)" ng-change='vm.ngWatchSitcom( vm.sitcom )'/>Home Sweetie Home (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestSitcom" ng-model="vm.sitcom" value="Vampire ang Daddy ko (GMA)" ng-change='vm.ngWatchSitcom( vm.sitcom )'/>Vampire ang Daddy ko (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestSitcom" ng-model="vm.sitcom" value="Pepito Manoloto (GMA)" ng-change='vm.ngWatchSitcom( vm.sitcom )'/>Pepito Manoloto (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestSitcom" ng-model="vm.sitcom" value="Confessions of a Torpe (TV5)" ng-change='vm.ngWatchSitcom( vm.sitcom )'/>Confessions of a Torpe (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestSitcom" ng-model="vm.sitcom" value="One of the Boys (TV5)" ng-change='vm.ngWatchSitcom( vm.sitcom )'/>One of the Boys (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
