
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Game Show Host</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShowHost" ng-model="vm.gameShowHost" value="Judy Ann Santos-Agoncillo in Bet on your Baby (ABS-CBN)" ng-change='vm.ngWatchGameShowHost( vm.gameShowHost )'/>Judy Ann Santos-Agoncillo in Bet on your Baby (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShowHost" ng-model="vm.gameShowHost" value="Ryan Agoncillo in Picture, Picture (GMA)" ng-change='vm.ngWatchGameShowHost( vm.gameShowHost )'/>Ryan Agoncillo in Picture, Picture (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShowHost" ng-model="vm.gameShowHost" value="Eugene Domingo in Celebrity Bluff (GMA)" ng-change='vm.ngWatchGameShowHost( vm.gameShowHost )'/>Eugene Domingo in Celebrity Bluff (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShowHost" ng-model="vm.gameShowHost" value="Vic Sotto in Who Wants to be a Millionaire (TV5)" ng-change='vm.ngWatchGameShowHost( vm.gameShowHost )'/>Vic Sotto in Who Wants to be a Millionaire (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShowHost" ng-model="vm.gameShowHost" value="Michael V in Killer Karaoke (TV5)" ng-change='vm.ngWatchGameShowHost( vm.gameShowHost )'/>Michael V in Killer Karaoke (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestGameShowHost" ng-model="vm.gameShowHost" value="Amy Perez in Singing Bee (ABS-CBN)" ng-change='vm.ngWatchGameShowHost( vm.gameShowHost )'/>Amy Perez in Singing Bee (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
