
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Talk Show Host</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShowHost" ng-model="vm.talkShowHost" value="Kris Aquino in KrisTV (ABS-CBN)" ng-change='vm.ngWatchTalkShowHost( vm.talkShowHost )'/>Kris Aquino in KrisTV (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShowHost" ng-model="vm.talkShowHost" value="Vice Ganda in Gandang Gabi Vice (ABS-CBN)" ng-change='vm.ngWatchTalkShowHost( vm.talkShowHost )'/>Vice Ganda in Gandang Gabi Vice (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShowHost" ng-model="vm.talkShowHost" value="Camille Prats in Mars (GMA)" ng-change='vm.ngWatchTalkShowHost( vm.talkShowHost )'/>Camille Prats in Mars (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShowHost" ng-model="vm.talkShowHost" value="Ryzza Mae Dizon in The Ryzza Mae Show (GMA)" ng-change='vm.ngWatchTalkShowHost( vm.talkShowHost )'/>Ryzza Mae Dizon in The Ryzza Mae Show (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShowHost" ng-model="vm.talkShowHost" value="Gelli De Bellen in Face The People (TV5)" ng-change='vm.ngWatchTalkShowHost( vm.talkShowHost )'/>Gelli De Bellen in Face The People (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTalkShowHost" ng-model="vm.talkShowHost" value="Toni Gonzaga in The Buzz (ABS-CBN)" ng-change='vm.ngWatchTalkShowHost( vm.talkShowHost )'/>Toni Gonzaga in The Buzz (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
