
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best TV Station</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTVStation" ng-model="vm.TVStation" value="ABS-CBN" ng-change='vm.ngWatchTVStation( vm.TVStation )'/>ABS-CBN
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTVStation" ng-model="vm.TVStation" value="GMA" ng-change='vm.ngWatchTVStation( vm.TVStation )'/>GMA
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTVStation" ng-model="vm.TVStation" value="TV5" ng-change='vm.ngWatchTVStation( vm.TVStation )'/>TV5
        </label>
      </div>
    </li>
  </ul>
</div>
