
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Variety Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestVarietyShow" ng-model="vm.varietyShow" value="Showtime (ABS-CBN)" ng-change='vm.ngWatchVarietyShow( vm.varietyShow )'/>Showtime (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestVarietyShow" ng-model="vm.varietyShow" value="Eat Bulaga (GMA)" ng-change='vm.ngWatchVarietyShow( vm.varietyShow )'/>Eat Bulaga (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
