
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Male Child Performer</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMaleChildPerformer" ng-model="vm.maleChildPerformer" value="James &quot;Bimbi&quot; Yap in My little Bossings" ng-change='vm.ngWatchMaleChildPerformer( vm.maleChildPerformer )'/>James "Bimbi" Yap in My little Bossings
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMaleChildPerformer" ng-model="vm.maleChildPerformer" value="David Remo in Nino (GMA)" ng-change='vm.ngWatchMaleChildPerformer( vm.maleChildPerformer )'/>David Remo in Nino (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMaleChildPerformer" ng-model="vm.maleChildPerformer" value="JM Ibanez in Be Careful with my Heart (ABS-CBN)" ng-change='vm.ngWatchMaleChildPerformer( vm.maleChildPerformer )'/>JM Ibanez in Be Careful with my Heart (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMaleChildPerformer" ng-model="vm.maleChildPerformer" value="Clarrence Delgado in Home Sweetie Home (ABS-CBN)" ng-change='vm.ngWatchMaleChildPerformer( vm.maleChildPerformer )'/>Clarrence Delgado in Home Sweetie Home (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMaleChildPerformer" ng-model="vm.maleChildPerformer" value="Bugoy Carino in Goin Bulilit (ABS-CBN)" ng-change='vm.ngWatchMaleChildPerformer( vm.maleChildPerformer )'/>Bugoy Carino in Goin' Bulilit (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
