
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Entertainment News Program Host</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEntertainmentNewsProgramHost" ng-model="vm.entertainmentNewsProgramHost" value="Kris Aquino in Aquino and Abunda Tonight (ABS-CBN)" ng-change='vm.ngWatchEntertainmentNewsProgramHost( vm.entertainmentNewsProgramHost )'/>Kris Aquino in Aquino and Abunda Tonight (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEntertainmentNewsProgramHost" ng-model="vm.entertainmentNewsProgramHost" value="Boy Abunda in The Buzz (ABS-CBN)" ng-change='vm.ngWatchEntertainmentNewsProgramHost( vm.entertainmentNewsProgramHost )'/>Boy Abunda in The Buzz (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEntertainmentNewsProgramHost" ng-model="vm.entertainmentNewsProgramHost" value="Joey De Leon in Startalk (GMA)" ng-change='vm.ngWatchEntertainmentNewsProgramHost( vm.entertainmentNewsProgramHost )'/>Joey De Leon in Startalk (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEntertainmentNewsProgramHost" ng-model="vm.entertainmentNewsProgramHost" value="Raymond Gutierrez in Showbiz Police (TV5)" ng-change='vm.ngWatchEntertainmentNewsProgramHost( vm.entertainmentNewsProgramHost )'/>Raymond Gutierrez in Showbiz Police (TV5)
        </label>
      </div>
    </li>
  </ul>
</div>
