
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Investigative Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestInvestigativeShow" ng-model="vm.investigativeShow" value="Scene of the Crime Operatives (ABS-CBN)" ng-change='vm.ngWatchInvestigativeShow( vm.investigativeShow )'/>Scene of the Crime Operatives (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestInvestigativeShow" ng-model="vm.investigativeShow" value="Imbestigador (GMA)" ng-change='vm.ngWatchInvestigativeShow( vm.investigativeShow )'/>Imbestigador (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestInvestigativeShow" ng-model="vm.investigativeShow" value="Tutok Tulfo (TV5)" ng-change='vm.ngWatchInvestigativeShow( vm.investigativeShow )'/>Tutok Tulfo (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestInvestigativeShow" ng-model="vm.investigativeShow" value="Investigative Documentaries (GMA)" ng-change='vm.ngWatchInvestigativeShow( vm.investigativeShow )'/>Investigative Documentaries (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestInvestigativeShow" ng-model="vm.investigativeShow" value="Failon Ngayon (ABS-CBN)" ng-change='vm.ngWatchInvestigativeShow( vm.investigativeShow )'/>Failon Ngayon (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
