
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best News Program Male Anchor</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramMaleAnchor" ng-model="vm.newsProgramMaleAnchor" value="Noli De Castro in TV Patrol (ABS-CBN)" ng-change='vm.ngWatchNewsProgramMaleAnchor( vm.newsProgramMaleAnchor )'/>Noli De Castro in TV Patrol (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramMaleAnchor" ng-model="vm.newsProgramMaleAnchor" value="Ted Failon in TV Patrol (ABS-CBN)"  ng-change='vm.ngWatchNewsProgramMaleAnchor( vm.newsProgramMaleAnchor )'/>Ted Failon in TV Patrol (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramMaleAnchor" ng-model="vm.newsProgramMaleAnchor" value="Mike Enriquez in 24 Oras (GMA)"  ng-change='vm.ngWatchNewsProgramMaleAnchor( vm.newsProgramMaleAnchor )'/>Mike Enriquez in 24 Oras (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramMaleAnchor" ng-model="vm.newsProgramMaleAnchor" value="Erwin Tulfo in Aksyon (TV5)"  ng-change='vm.ngWatchNewsProgramMaleAnchor( vm.newsProgramMaleAnchor )'/>Erwin Tulfo in Aksyon (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramMaleAnchor" ng-model="vm.newsProgramMaleAnchor" value="Arnold Clavio in Saksi (GMA)"  ng-change='vm.ngWatchNewsProgramMaleAnchor( vm.newsProgramMaleAnchor )'/>Arnold Clavio in Saksi (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramMaleAnchor" ng-model="vm.newsProgramMaleAnchor" value="Julius Babaw in Bandila (ABS-CBN)"  ng-change='vm.ngWatchNewsProgramMaleAnchor( vm.newsProgramMaleAnchor )'/>Julius Babaw in Bandila (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
