
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Education Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEducationShow" ng-model="vm.educationShow" value="Matanglawin (ABS-CBN)" ng-change='vm.ngWatchEducationShow( vm.educationShow )'/>Matanglawin (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEducationShow" ng-model="vm.educationShow" value="Kap's Amazing Story (GMA)" ng-change='vm.ngWatchEducationShow( vm.educationShow )'/>Kap's Amazing Story (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEducationShow" ng-model="vm.educationShow" value="Ibilib (GMA)" ng-change='vm.ngWatchEducationShow( vm.educationShow )'/>Ibilib (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEducationShow" ng-model="vm.educationShow" value="Salamat Doc (ABS-CBN)" ng-change='vm.ngWatchEducationShow( vm.educationShow )'/>Salamat Doc (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestEducationShow" ng-model="vm.educationShow" value="Born to be Wild (GMA)" ng-change='vm.ngWatchEducationShow( vm.educationShow )'/>Born to be Wild (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
