
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Magazine Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMagazineShow" ng-model="vm.magazineShow" value="Rated K (ABS-CBN)" ng-change='vm.ngWatchMagazineShow( vm.magazineShow )'/>Rated K (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMagazineShow" ng-model="vm.magazineShow" value="Kapuso mo, Jessica Soho (GMA)" ng-change='vm.ngWatchMagazineShow( vm.magazineShow )'/>Kapuso mo, Jessica Soho (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMagazineShow" ng-model="vm.magazineShow" value="Biyahe ni Drew (GMA)" ng-change='vm.ngWatchMagazineShow( vm.magazineShow )'/>Biyahe ni Drew (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
