
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best News Program</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgram" ng-model="vm.newsProgram" value="TV Patrol (ABS-CBN)" ng-change='vm.ngWatchNewsProgram( vm.newsProgram )'/>TV Patrol (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgram" ng-model="vm.newsProgram" value="24 Oras (GMA)" ng-change='vm.ngWatchNewsProgram( vm.newsProgram )'/>24 Oras (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgram" ng-model="vm.newsProgram" value="Bandila (ABS-CBN)" ng-change='vm.ngWatchNewsProgram( vm.newsProgram )'/>Bandila (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgram" ng-model="vm.newsProgram" value="Saksi (GMA)" ng-change='vm.ngWatchNewsProgram( vm.newsProgram )'/>Saksi (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgram" ng-model="vm.newsProgram" value="Aksyon (TV5)" ng-change='vm.ngWatchNewsProgram( vm.newsProgram )'/>Aksyon (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" ng-model="vm.newsProgram" value="State of the Nation (GMA)" ng-change='vm.ngWatchNewsProgram( vm.newsProgram )'/>State of the Nation (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
