
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best News Program Female Anchor</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramFemaleAnchor" ng-model="vm.newsProgramFemaleAnchor" value="Korina Sanchez in TV Patrol (ABS-CBN)" ng-change='vm.ngWatchNewsProgramFemaleAnchor( vm.newsProgramFemaleAnchor )'/>Korina Sanchez in TV Patrol (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramFemaleAnchor" ng-model="vm.newsProgramFemaleAnchor" value="Mel Tiangco in 24 Oras (GMA)" ng-change='vm.ngWatchNewsProgramFemaleAnchor( vm.newsProgramFemaleAnchor )'/>Mel Tiangco in 24 Oras (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramFemaleAnchor" ng-model="vm.newsProgramFemaleAnchor" value="Jessica Soho in State of the Nation (GMA)" ng-change='vm.ngWatchNewsProgramFemaleAnchor( vm.newsProgramFemaleAnchor )'/>Jessica Soho in State of the Nation (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramFemaleAnchor" ng-model="vm.newsProgramFemaleAnchor" value="Cheryl Cosim in Aksyon (TV5)" ng-change='vm.ngWatchNewsProgramFemaleAnchor( vm.newsProgramFemaleAnchor )'/>Cheryl Cosim in Aksyon (TV5)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsProgramFemaleAnchor" ng-model="vm.newsProgramFemaleAnchor" value="Karen Davila in Bandila (ABS-CBN)" ng-change='vm.ngWatchNewsProgramFemaleAnchor( vm.newsProgramFemaleAnchor )'/>Karen Davila in Bandila (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
