
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best News Public Affairs Talk Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsPublicAffairsTalkShow" ng-model="vm.newsPublicAffairsTalkShow" value="Bottomline (ABS-CBN)" ng-change='vm.ngWatchNewsPublicAffairsTalkShow( vm.newsPublicAffairsTalkShow )'/>Bottomline (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsPublicAffairsTalkShow" ng-model="vm.newsPublicAffairsTalkShow" value="Tonight with Arnold Clavio (GMA)" ng-change='vm.ngWatchNewsPublicAffairsTalkShow( vm.newsPublicAffairsTalkShow )'/>Tonight with Arnold Clavio (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsPublicAffairsTalkShow" ng-model="vm.newsPublicAffairsTalkShow" value="Tunay na Buhay (GMA)" ng-change='vm.ngWatchNewsPublicAffairsTalkShow( vm.newsPublicAffairsTalkShow )'/>Tunay na Buhay (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestNewsPublicAffairsTalkShow" ng-model="vm.newsPublicAffairsTalkShow" value="Tapatan Ni Tunying (ABS-CBN)" ng-change='vm.ngWatchNewsPublicAffairsTalkShow( vm.newsPublicAffairsTalkShow )'/>Tapatan Ni Tunying (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
