
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Local TV Station</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestLocalTVStation" ng-model="vm.localTVStation" value="CLTV36" ng-change='vm.ngWatchLocalTVStation( vm.localTVStation )'/>CLTV36
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestLocalTVStation" ng-model="vm.localTVStation" value="PEP TV" ng-change='vm.ngWatchLocalTVStation( vm.localTVStation )'/>PEP TV
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestLocalTVStation" ng-model="vm.localTVStation" value="ABS-CBN Pampanga" ng-change='vm.ngWatchLocalTVStation( vm.localTVStation )'/>ABS-CBN Pampanga
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestLocalTVStation" ng-model="vm.localTVStation" value="GNN 44 Informax" ng-change='vm.ngWatchLocalTVStation( vm.localTVStation )'/>GNN 44 Informax
        </label>
      </div>
    </li>
  </ul>
</div>
