
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Documentary Show</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestDocumentaryShow" ng-model="vm.documentaryShow" value="I-Witness (GMA)" ng-change='vm.ngWatchDocumentaryShow( vm.documentaryShow )'/>I-Witness (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestDocumentaryShow" ng-model="vm.documentaryShow" value="Reporter's Notebook (GMA)" ng-change='vm.ngWatchDocumentaryShow( vm.documentaryShow )'/>Reporter's Notebook (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestDocumentaryShow" ng-model="vm.documentaryShow" value="Frontrow (GMA)" ng-change='vm.ngWatchDocumentaryShow( vm.documentaryShow )'/>Frontrow (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
