
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Magazine Show Host</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMagazienShowHost" ng-model="vm.magazineShowHost" value="Korina Sanchez in Rated K (ABS-CBN)" ng-change='vm.ngWatchMagazineShowHost( vm.magazineShowHost )'/>Korina Sanchez in Rated K (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMagazienShowHost" ng-model="vm.magazineShowHost" value="Jessica Soho in Kapuso mo, Jessica Soho (GMA)" ng-change='vm.ngWatchMagazineShowHost( vm.magazineShowHost )'/>Jessica Soho in Kapuso mo, Jessica Soho (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestMagazienShowHost" ng-model="vm.magazineShowHost" value="Drew Arellano in Biyahe ni Drew (GMA)" ng-change='vm.ngWatchMagazineShowHost( vm.magazineShowHost )'/>Drew Arellano in Biyahe ni Drew (GMA)
        </label>
      </div>
    </li>
  </ul>
</div>
