
<div class="panel-heading row">
  <h3 class="panel-title text-center">Best Television Actress</h3>
</div>
<div class="panel-body">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActress" ng-model="vm.actress" value="Angel Locsin in The Legal Wife (ABS-CBN)" ng-change='vm.ngWatchActress(vm.actress)'/>Angel Locsin in The Legal Wife (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActress" ng-model="vm.actress" value="Maja Salvador in The Legal Wife (ABS-CBN)" ng-change='vm.ngWatchActress(vm.actress)'/>Maja Salvador in The Legal Wife (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActress" ng-model="vm.actress" value="Marian Rivera in Carmela (GMA)" ng-change='vm.ngWatchActress(vm.actress)'/>Marian Rivera in Carmela (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActress" ng-model="vm.actress" value="Jennylyn Mercado in Rhodora X (GMA)" ng-change='vm.ngWatchActress(vm.actress)'/>Jennylyn Mercado in Rhodora X (GMA)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActress" ng-model="vm.actress" value="Anne Curtis in Dyesebel (ABS-CBN)" ng-change='vm.ngWatchActress(vm.actress)'/>Anne Curtis in Dyesebel (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActress" ng-model="vm.actress" value="Jodi Sta Maria in Be Carefull with my Heart (ABS-CBN)" ng-change='vm.ngWatchActress(vm.actress)'/>Jodi Sta Maria in Be Carefull with my Heart (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActress" ng-model="vm.actress" value="Bea Alonzo in Sana Bukas pa ang Kahapon (ABS-CBN)" ng-change='vm.ngWatchActress(vm.actress)'/>Bea Alonzo in Sana Bukas pa ang Kahapon (ABS-CBN)
        </label>
      </div>
    </li>
    <li class="list-group-item">
      <div class="radio">
        <label>
          <input type="radio" name="BestTelevisionActress" ng-model="vm.actress" value="Kim Chui in Ikaw Lamang (ABS-CBN)" ng-change='vm.ngWatchActress(vm.actress)'/>Kim Chui in Ikaw Lamang (ABS-CBN)
        </label>
      </div>
    </li>
  </ul>
</div>
