<div id="main" class="container">
  <div class="main-panel no-one">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/one.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/two.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/three.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/four.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel no-two">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/five.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/six.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/seven.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/eight.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel no-three">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/nine.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/ten.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/eleven.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twelve.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel no-four">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/thirteen.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/fourteen.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/fifteen.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/sixteen.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel col-sm-4 col-sm-offset-4">
        	{% include 'paragalaQuestions/questionnaire/seventeen.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel no-five">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/eighteen.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/nineteen.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twenty.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twentyOne.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel no-six">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twentyTwo.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twentyThree.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twentyFour.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twentyFive.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel no-seven">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twentySix.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twentySeven.html' %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="panel col-sm-4 col-sm-offset-4">
        	{% include 'paragalaQuestions/questionnaire/twentyEight.html' %}
        </div>
      </div>
    </div>
  </div>
  <div class="main-panel no-eight">
    <div class="row">
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/twentyNine.html' %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="panel col-sm-10 col-sm-offset-1">
        	{% include 'paragalaQuestions/questionnaire/thirty.html' %}
        </div>
      </div>
    </div>
  </div>
</div>
