{% include 'commons/header.html' %}
<div class='container-fluid paragalaStudentAccount'>
  <div class='row addStudent'>
    <div class='col-xs-12 col-sm-10 col-md-10 col-lg-6 col-sm-offset-1 col-md-offset-1 col-lg-offset-3 add-student-alert'>
      <div ng-show='vm.isAlreadyRegistered' ng-model='vm.alreadyRegistered' class='alert alert-danger'>
        <h3># {{vm.studentNumber}} is already Registered</h3>
      </div>
      <div ng-show='vm.notYetVoted' ng-model='vm.successRegistered' class='alert alert-success'>
        <h3>Successfully Registered the # {{vm.studentNumber}}</h3>
      </div>
      <div id='page-login' class='panel panel-default'>
        <div class='panel-heading'>
          <h2>Register Student Account</h2>
        </div>
        <div class='panel-body'><br/>
          <form name='studentForm' class='form-horizontal' novalidate>
            <div class='form-group'>
              <label class='col-xs-12 col-sm-3 col-md-3 col-lg-4 control-label'>Enter the Designated No.:</label>
              <div class='col-xs-12 col-sm-9 col-md-9 col-lg-8 pull-right'>
                <input id='SN' class='form-control' name='SN' type='number' placeholder='1048854' ng-model='vm.SN' ng-minlength='3' required='required' autofocus />
              </div>
              <h5>
                <div ng-if='studentForm.SN.$error.number &amp;&amp; vm.submitted' class='label label-danger'>
                  Opps!! you've Entered a non-number.
                </div>
                <div ng-if='studentForm.SN.$error.minlength &amp;&amp; vm.submitted' class='label label-danger'>
                  Student Number is too short
                </div>
              </h5>
            </div><br/>
            <div class='form-group'>
              <label class='col-xs-12 col-sm-3 col-md-3 col-lg-2 control-label'></label>
              <div class='col-xs-12 col-sm-9 col-md-9 col-lg-9 pull-right text-right'>
                <button clear-input ng-click='vm.addStudent( studentForm.$valid, vm.SN)' class='btn btn-success btn-sm'>ADD STUDENT</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class='row footer'>
    {% include 'commons/footer.html' %}
  </div>
</div>
