
<div class="rightPanel">
  <h3 class="sub-main">Jo-Ries P. Canino</h3>
  <p class="default">Bachelor of Science in Computer Science</p>
  <h4 class="sub-main">Achievements</h4>
  <div class="information">
    <h5 class="default">ALUNSINA: A Windows-Based Role Playing Game System</h5>
    <p class="sub-main">Best Thesis</p>
    <p class="default">
      3rd Place in the 5th Annual Conference of
      Information Technology and Computer Science Students of the Philippines
    </p>
    <h5 class="sub-main">Programming Tutor</h5>
    <p class="default">Language: C++, JAVA</p>
    <h5 class="sub-main">Academic Scholar</h5>
    <p class="default">S.Y. 2012 - 2013 1st and 2nd semester</p>
  </div>
  <h4 class="sub-main">Membership</h4>
  <div class="information">
    <h5 class="default">League of Outstanding Programmers (LOOP)</h5>
    <p class="sub-main">Member</p>
    <p class="default">- 2011 - 2013 (OCTOBER)</p>
    <p class="sub-main">President</p>
    <p class="default">- 2013 - 2014 (MARCH)</p>
  </div>
  <h4 class="sub-main">On-the-job Training</h4>
  <div class="information">
    <h5 class="default">Trixan Support Services</h5>
    <p class="sub-main">Position</p>
    <p class="default">- Front-End Developer</p>
    <p class="sub-main">Knowledge Acquired</p>
    <p class="default">* JavaScript : Fundamentals into intermediate (including the proper practices in coding)</p>
    <p class="default">* jQuery : Fundamentals into intermediate(including the proper practices in making a jQuery plugin)</p>
    <p class="default">* Bootstrap 3: Used for visual presentation of the Website</p>
    <p class="default">* NodeJS : Fundamentals into intermediate(integrated with ExpressJS and mongodb as a database repository)</p>
    <p class="default">* AngularJS: Fundamentals( RestApi and Single Page Application)</p>
  </div>
</div>
